/*

.grid {
    display: grid;
    border: 2px yellow solid; 

}
*/

/*
h1{
    font-size: larger;
    padding: %;
}
*/


.resize {
    width: 800px;
    margin-right: 0 ;
    
}





/*
.col-2{
    background-image: url("/resources/images/workload.jpg");
    background-size: cover;
}*/
