/*

.grid {
    display: grid;
    border: 2px yellow solid; 

}
*/

/*
h1{
    font-size: larger;
    padding: %;
}
*/


.resize {
    width: 800px;
    margin-right: 0 ;
    background: rgba( 50, 132, 157, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
    
}

.main{
    background: rgba( 9, 107, 139, 0.25 );
}



/*
.col-2{
    background-image: url("/resources/images/workload.jpg");
    background-size: cover;
}*/
